<div class="well" style="max-width: 250px; float:left;">
    <h4>3 - Shotgun Connect</h4>
    <br/>
    <div id="alerts-container" class="wiz-alert-box"></div>
    <button class="btn btn-primary btn-block ng-binding next-call">Next Call</button>
    <button type="button" class="btn btn-default intro-caller-id ng-binding"><i class="icons intro-location" ng-class="iconCheck( item.Name )"></i> <b>Caller ID </b> (999) 999-9999 <span class="caret"></span></button>
    <intro-dialer-notification>
        <div class="intro-dialer-notification-container ng-scope am-fade" style="display: block;">
            <button type="button" class="close">×</button>
            <div ng-class="objNotif.style" class="intro-notifcation-screen-buttons">
                <h5 class="ng-binding">Shotgun Connect</h5>
                <p ng-class="objNotif.messageStyle" class="ng-binding">
                    Incoming Lead -- Are you available?
                </p>
            </div>
            <div class="intro-dialer-buttons">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group ng-scope" role="group">
                        <button class="btn ng-binding btn-success" ng-class="btn.style" title="Available">Yes</button>
                    </div>
                    <div class="btn-group ng-scope" role="group">
                        <button class="btn ng-binding btn-danger" ng-class="btn.style" title="Unavailable">No</button>
                    </div>
                </div>
            </div>
        </div>
    </intro-dialer-notification>
    <div class="intro-call-status" ng-class="">
        <div class="alert alert-info">Calling your phone...</div>
        <div>
            <a class="ng-binding"></a>
        </div>
        <div class="ng-hide"><a href="#">Update</a></div>
    </div>
    <div class="intro-dialer-controls">
        <div class="intro-display-container">
            <intro-dialer-display>
                <div class="intro-dialer-display">
                    <div>
                        <intro-dialer-screen class="ng-scope">
                            <div class="intro-dialer-screen has-buttons">
                                <!--<p class="intro-dialer-callstatus ng-binding intro-call-connecting" ng-class="callStatus.titleStyle" title="Connecting">
Connecting
</p>-->
                                <p class="intro-dialer-callstatus ng-binding intro-call-ended" ng-class="callStatus.titleStyle" title="You did not answer.">
                                    <i class="icons ng-scope intro-call-disconnected" ng-class="callStatus.icon" ng-if="callStatus.icon !== 'intro-loading-4'"></i> You did not answer.
                                </p>
                                <p class="intro-dialer-lead-name">
                                    <a ng-href="/00Q1a000001g4p4EAA" intro-console-click="afterOpenTab" console-link-dynamic="true" console-tab-name="Andy Smith" console-id="00Q1a000001g4p4EAA" console-name="Andy Smith" console-url="/00Q1a000001g4p4EAA" sf-object-details="00Q1a000001g4p4EAA" ,="" target="_blank" class="ng-binding ng-isolate-scope" href="/00Q1a000001g4p4EAA">Andy Smith</a>
                                </p>
                                <p class="intro-dialer-lead-company ng-binding">
                                    Universal Technologies
                                </p>
                                <p class="intro-dialer-lead-phone ng-binding">
                                    (555) 555-1212
                                </p>
                                <p class="intro-dialer-status ng-binding">
                                    <span class="intro-status-title">Status: </span> Open
                                </p>
                            </div>
                        </intro-dialer-screen>
                        <intro-dialer-buttons class="ng-scope">
                            <div class="intro-dialer-buttons">
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group" role="group" intro-dialer-button-transfer="">
                                        <button type="button" transfer-menu-popover="" class="btn btn-default btn-transfer ng-scope" disabled="disabled"><i class="icons intro-forward"></i></button>
                                    </div>
                                    <div class="btn-group" role="group" intro-dialer-button-voicemail="">
                                        <!-- ngIf: callStatus.isMessagePlaying -->
                                        <button type="button" class="btn btn-default btn-voicemail ng-scope" voicemail-popover="" disabled="disabled"><i class="icons intro-tape" ng-class="voicemailBtnClass"></i></button>
                                    </div>
                                    <div class="btn-group" role="group" intro-dialer-button-answer-hangup="">
                                        <button type="button" class="btn btn-default btn-answer-hang-up" ng-click="clickAnswerHangUpButton()" ng-disabled="isAnswerBtnDisabled()"><i class="icons intro-last-attempt intro-call-connected" ng-class="answerBtnClass"></i></button>
                                    </div>
                                </div>
                            </div>
                        </intro-dialer-buttons>
                    </div>
                </div>
            </intro-dialer-display>
        </div>
        <div class="intro-transfer-display ng-hide" ng-hide="!callStatus.isTransferBarVisible">
            <intro-transfer-dialer-screen>
                <div class="intro-dialer-screen" ng-class="{ 'has-buttons': hasTransferButtons }">
                    <p class="intro-dialer-callstatus ng-binding" ng-class="callStatus.transferTitleStyle" title="">
                        <!-- ngIf: callStatus.transferIcon === 'intro-loading' -->
                        <!-- ngIf: callStatus.transferIcon !== 'intro-loading-4' --><i class="icons ng-scope" ng-class="callStatus.transferIcon" ng-if="callStatus.transferIcon !== 'intro-loading-4'"></i>
                        <!-- end ngIf: callStatus.transferIcon !== 'intro-loading-4' -->
                    </p>
                    <p class="intro-dialer-lead-name ng-binding ng-hide" ng-show="transferAgent.name"></p>
                    <p class="intro-dialer-lead-phone ng-binding ng-hide" ng-show="transferAgent.phone"></p>
                </div>
            </intro-transfer-dialer-screen>
            <intro-transfer-dialer-buttons class="ng-scope">
                <div class="intro-dialer-buttons">
                    <div class="btn-group btn-group-justified" role="group">
                    </div>
                </div>
            </intro-transfer-dialer-buttons>
        </div>
        <div class="intro-action-container">
            <hr>
            <div ng-form="takeActionForm" cg-busy="submitActionPromise" class="take-action-form ng-pristine ng-valid ng-isolate-scope ng-valid-required" object-id="00Q1a000001g4p4EAA" object-name="Andy Smith" object-type="Lead" disable-status-history="true" modal-container=".abs-container" alert-container=".action-alert-container" alert-placement="inline" style="position: relative;">
                <div ng-show="userOf === false" class="ng-hide">
                    <div class="alert alert-warning" role="alert">Take Action is not available because you do not have a Velocify license.</div>
                </div>
                <div ng-show="userOf !== false &amp;&amp; canTakeAction === false" class="ng-hide">
                    <div class="alert alert-warning" role="alert">Take Action is not available because you do not have permission to update this record.</div>
                </div>
                <div class="take-action-form-content form-content">
                    <div class="form-group take-action-help">
                        <label for="" class="control-label">Take Action <span class="text-danger">*</span></label>
                        <div ng-model="takeActionData.ActionId" reload-interval="10000" class="ng-pristine ng-valid">
                            <div class="ui-select-container ui-select-bootstrap dropdown ng-valid ng-pristine" ng-class="{open: $select.open}" ng-model="$parent.selectedActionId" reset-search-input="true" theme="bootstrap" ng-disabled="disableForm">
                                <div class="ui-select-match" ng-class="{'btn-default-focus':$select.focus}">
                                    <span tabindex="-1" class="btn btn-default form-control ui-select-toggle" aria-label="Select box activate" ng-click="$select.activate()" style="outline: 0;"><span class="ui-select-placeholder text-muted ng-binding">Select action...</span> <span class="ui-select-match-text pull-left" ng-class="{'ui-select-allow-clear': $select.allowClear &amp;&amp; !$select.isEmpty()}"><span class="ng-binding ng-scope"></span></span> <i class="caret pull-right" ng-click="$select.toggle($event)" style="margin-top: 8px;"></i> <a aria-label="Select box clear" style="margin-right: 10px" ng-click="$select.clear($event)" class="btn btn-xs btn-link pull-right"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a></span>
                                </div>
                                <div class="divider"></div>
                                <div class="ui-select-choices-group-label dropdown-header ng-binding" ng-bind="$group.name"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="" class="control-label">Comment <span class="text-danger">*</span></label>
                        <textarea class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" rows="3" ng-model="takeActionData.Comment" ng-required="( requiredItems.indexOf( takeActionData.ActionId ) > -1 )" placeholder="Enter Notes">Enter Notes</textarea>
                        <span class="pull-left textbox-count-box hidden ng-binding ng-pristine ng-valid" ng-class="" ng-model="takeActionData.Comment" max-chars="980" show-count-on="10">Characters Remaining: 980</span>
                    </div>
                    <div class="form-group button-panel clearfix">
                        <button type="button" class="btn btn-default pull-left ng-hide" ng-click="showCancel();">Cancel</button>
                        <button type="button" class="btn btn-primary intro-submit pull-right" disabled="disabled">Commit Action</button>
                    </div>
                </div>
            </div>
            <div class="action-alert-container"></div>
        </div>
    </div>
    <div class="intro-dialer-footer">
        <div class="signalr-status">
            <signalr-indicator class="ng-isolate-scope">
                <div class="signalr-indicator-container ng-scope" data-placement="right-top" data-container=".intro-signalr-indicator" data-trigger="hover" data-title="Connected" bs-tooltip="">
                    <div class="intro-signalr-indicator indicator-on" ng-class="indicatorClass"></div>
                </div>
            </signalr-indicator>
        </div>
        <intro-user-settings>
            <button bs-enabled="validLic" data-trigger="hover" data-title="No valid Dial-IQ license." bs-tooltip="" class="dialer-settings ng-scope" ng-click="agent.agentSettings.hasDialIQLicense ? showModal() : null "> <i class="icon intro-gear-setting-2"></i></button>
        </intro-user-settings>
        <div class="logo logo-small"></div>
        <br>
    </div>
    <object style="display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; pointer-events: none; z-index: -1;" type="text/html" data="about:blank"></object>
</div>
